<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.container{
			margin: auto;
			width: 50%;
			padding: 30px;
			background: #e2e2e2;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1 data-th-text="${name}">Welcome to home page</h1>
		<p>YT : <span data-th-text="${YT}"> </span></p>
		<p>GitHub : <span data-th-text="${git}"></span></p>
		<a data-th-href="${git}">Click here to open</a>
	</div>
</body>
</html>